**/*.xlsx
**/*.txt
**/*.doc
**/*.docx
**/*.pdf
**/*.tmp
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# PyCharm / VSCode
.idea/
.vscode/
*.swp
*.swo
*~